<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>MAD SAT API</title>
  <style>
    body {
      font-family: monospace
    }
  </style>
</head>

<body>
  <h1>MADSAT API</h1>
  <big>
    <a href="/events">Events</a>
    <a href="/logs">Logs</a>
    <a href="/status">Status</a>
    <a href="https://github.com/dk-raw/madsat-api/blob/main/README.md">Documentation</a>
    <a href="https://x.com/madsatbot">@madsatbot</a>
    <a href="https://github.com/dk-raw/madsat">GitHub</a>
  </big>
</body>

</html>